# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#Folders
image_cipher/bin
image_cipher/lib
image_cipher/include
image_cipher/lib64
# Executables
*.exe
*.out
*.app
*.pyc
