{% extends 'bases/base.html' %}
{% block section_title %}Expansion and permutation{% endblock %}
 {% block yes_expansion%}yes{% endblock %}
{% block content %}
<form id="expansion-form" action="{% url 'expansion' %}" method="POST" enctype="multipart/form-data" class="sm two-btns">
	{% csrf_token %}
	<input type="text" style="margin-bottom:1em" maxlength="29" name="data" />
	<label for="tohex">Expand</label><input type="radio" name="mode" id="tohex" value="tohex" />
	<br />
	<label for="tostr">Permutate</label><input type="radio" name="mode" id="tostr" value="tostr" />
	<p class="response_status"></p>
	<div id="btns">
		<button class="expand-btn" data-type="encrypt" data-action="{% url 'expansion' %}"><span class="loader"></span><span class="txt">Go!</span></button>
	</div>
</form>

{% endblock %}